.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.form {
  width: 242px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 0 50px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 9px;
}

.input {
  border: 2px solid #000;
  width: 159px;
  height: 23px;
  margin-bottom: 20px;
}

.input:focus {
  outline: none;
}

.input:last-of-type {
  margin-bottom: 41px;
}

.button {
  width: 173px;
  font-weight: 400;
  font-size: 12px;
  padding: 13px 69px 12px;
  background-color: #D9D9D9;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}